<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         failOnRisky="true"
         failOnWarning="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <!-- No Symfony deprecation may be triggered by this bundle. -->
        <env name="SYMFONY_DEPRECATIONS_HELPER" value="max[total]=0"/>
        <env name="APP_ENV" value="test"/>
        <env name="KERNEL_CLASS" value="PHPSpellcheck\SpellcheckBundle\Tests\Fixtures\TestKernel"/>
    </php>
    <testsuites>
        <testsuite name="bundle">
            <directory>tests</directory>
            <exclude>tests/Fixtures</exclude>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
